@import "bootstrap/scss/mixins/banner";
@include bsBanner("");

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/close";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

#root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100svh;
  font-family: "Walter Turncoat", 'Helvetica', 'Arial', sans-serif;
  overflow: auto;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.btn:active {
  transform: scale(0.95);
  transition: transform 200ms ease-in-out;
}



@keyframes spin {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}

.copying {
  animation-name: spin;
  animation-duration: 1s;
}

.top-right-button {
  border-radius: 0px 0px 0px 10px;
  border-width: 0px 0px 2px 2px;
}

.top-right-button:hover {
  transform: scale(1);
}

.selectable:focus {
  transform: scale(0.95);
  transition: transform 200ms ease-in-out;
}

@media (hover: hover) {
  .selectable:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .selectable-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 1rem #ffc107;
    border-color: #ffc107;
  }
  .selectable-no-grow:hover {
    cursor: pointer;
  }
}

/* Buttons no longer have hover effects for touch only devices */
/* Only works for Bootstrap default theming */
/* Quick fix, if theming is applied will use sass */
@media (hover: none) {
  .btn-primary:hover {
    transform: scale(1);
    background-color: #0d6efd;
    color: #fff;
  }
  
  .btn-danger:hover {
    transform: scale(1); 
    background-color: #dc3545;
    color: #fff;
  }

  .btn-warning:hover {
    transform: scale(1);
    background-color: #ffc107;
    color: #000;
  }

  .btn-secondary:hover {
    transform: scale(1);
    background-color: #6c757d;
    color: #000;
  }

}

.top-left-button {
  border-radius: 0px 0px 10px 0px;
  border-width: 0px 2px 2px 0px;
}

.offcanvas {
  max-width: 90vw;
}

/* fixes for scrolling when flexboxes overflow */
.justify-content-center-safe {
  overflow: auto;
  justify-content: safe center;
}
