@import url("https://fonts.googleapis.com/css2?family=Roboto");

body {
  padding:0;
  margin:0;
  height:100%;
  font-family:"Roboto", sans-serif;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.btn:active {
  transform: scale(0.95);
  transition: transform 200ms ease-in-out;
}

.card-img {
  border-color: black;
  border-radius: 1rem;
  border-width: 0.25rem;
  border-style: solid;
}

.carousel .carousel-item {
  transition-duration: 300ms;
}

.copying {
  transform: rotateZ(180deg);
  transition: transform 500ms ease-in-out;
  color: green;
}

.selectable:focus {
  transform: scale(0.95);
  transition: transform 200ms ease-in-out;
}

@media (hover: hover) {
  .selectable:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .selectable-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 1rem yellow;
    border-color: yellow;
  }
}
