@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import "bootstrap/scss/bootstrap.scss";

#root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100svh;
  font-family: "Walter Turncoat", 'Helvetica', 'Arial', sans-serif;
  overflow: auto;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.btn:active {
  transform: scale(0.95);
  transition: transform 200ms ease-in-out;
}

.card-img {
  border-color: black;
  border-radius: 1rem;
  border-width: 0.25rem;
  border-style: solid;
}

.carousel .carousel-item {
  transition-duration: 300ms;
}

@keyframes spin {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}

.copying {
  animation-name: spin;
  animation-duration: 1s;
}

.top-right-button {
  border-radius: 0px 0px 0px 10px;
  border-width: 0px 0px 2px 2px;
}

.top-right-button:hover {
  transform: scale(1);
}

.selectable:focus {
  transform: scale(0.95);
  transition: transform 200ms ease-in-out;
}

@media (hover: hover) {
  .selectable:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .selectable-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 1rem #ffc107;
    border-color: #ffc107;
  }
  .selectable-no-grow:hover {
    cursor: pointer;
  }
}

.shimmer {
  background: #000000;
  background-image: linear-gradient(to right, #1a1a15 0%, #5b5b57 20%, #1a1a15 40%, #55554b 70%, #0f100e 90%, #1a1a15 100%);
  background-size: 200% 100%;
  animation: shimmer 3s infinite;
  height: 100%;
  width: 100%;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Buttons no longer have hover effects for touch only devices */
/* Only works for Bootstrap default theming */
/* Quick fix, if theming is applied will use sass */
@media (hover: none) {
  .btn-primary:hover {
    transform: scale(1);
    background-color: #0d6efd;
    color: #fff;
  }
  
  .btn-danger:hover {
    transform: scale(1); 
    background-color: #dc3545;
    color: #fff;
  }

  .btn-warning:hover {
    transform: scale(1);
    background-color: #ffc107;
    color: #000;
  }

  .btn-secondary:hover {
    transform: scale(1);
    background-color: #6c757d;
    color: #000;
  }

}

.top-left-button {
  border-radius: 0px 0px 10px 0px;
  border-width: 0px 2px 2px 0px;
}

.offcanvas {
  max-width: 90vw;
}

.flipcard {
  perspective: 1500px;
  width: 100%;
  height: 100%;
}

.flipcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flipped {
  transform: rotateY(180deg);
}

.flipcard-front, .flipcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipcard-front {
  transform: rotateY(0deg);
}

.flipcard-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* fixes for scrolling when flexboxes overflow */
.justify-content-center-safe {
  overflow: auto;
  justify-content: safe center;
}

/* for Hand to not overwhelm medium screen size */
.maxwidth-67svw {
  max-width: 67svw;
}

.maxwidth-60svw {
  max-width: 60svw;
}

/*# sourceMappingURL=App.css.map */
